html, body {
  background-color: transparent;
}

body {
  /* Display & Box Model */
  margin: 0;

  /* Visual */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

ul {
  /* Display & Box Model */
  margin: 0;
  padding: 0 20px;

  /* Visual */
  list-style-type: none;
}

.day {
  padding-top: 10px;
}

.events {
  padding: 10px 20px 0px 20px;
  border-bottom: 1px solid gray;
}

.event {
  margin-bottom: 8px;
}

.time {
  margin-right: 10px;
}

.description {
  margin: 0 0 0 0;
}

.error {
  display: none;
}
