<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Google Calendar Settings</title>

  <link rel="stylesheet" href="css/settings.min.css"/>

  <style type="text/css">
    body, html {
      background: transparent;
    }

    .storage-selector-icon {
      width: 20px;
    }
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>

</head>
<body ng-app="risevision.widget.googleCalendar.settings" ng-controller="settingsController">
  <div class="widget">
    <div class="overlay"></div>
    <div class="settings">
      <div class="settings-center">
        <div class="wrapper container modal-content" ng-controller="calendarSettingsController" ng-cloak>
          <div class="modal-header">
            <h2 id="settings-title"> {{"google-calendar.settings" | translate }}
              <button id="settings-close" type="button" class="close" ng-click="closeSettings()">
                <span>&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </h2>
            <div class="sticky-wrapper">
              <widget-button-toolbar
                save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid"
                contribute="https://github.com/Rise-Vision/widget-google-calendar"></widget-button-toolbar>
            </div>
          </div>
          <form role="form" name="settingsForm">
            <div ng-class="{'form-group':true, 'has-error':settingsForm.calendar.$invalid}">
              <label>{{"google-calendar.calendar.label" | translate }}</label>
              <input name="calendar" type="text" ng-model="settings.additionalParams.calendar" required class="form-control">
              <p class="text-danger" ng-show="settingsForm.calendar.$error.required">
                {{"google-calendar.calendar.error.required" | translate}}
              </p>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label for="show-completed">
                  <input type="checkbox" ng-model="settings.additionalParams.showCompleted">{{"google-calendar.time.show-completed" | translate}}
                </label>
              </div>
            </div>
            <scroll-setting scroll="settings.additionalParams.scroll"></scroll-setting>
            <div class="section">
              <h5>{{"google-calendar.date.heading" | translate}}</h5>
              <div class="form-group">
                <div class="checkbox">
                  <label for="show-date">
                    <input id="show-date" type="checkbox" ng-model="settings.additionalParams.showDate">{{"google-calendar.date.show" | translate}}
                  </label>
                </div>
              </div>
              <div class="form-group" ng-show="showDate">
                <label for="date-range">{{"google-calendar.date.range.label" | translate }}</label>
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <select id="date-range" name="date-range" ng-model="settings.additionalParams.dateRange" class="form-control">
                      <option value="day">{{"google-calendar.date.range.day" | translate}}</option>
                      <option value="week">{{"google-calendar.date.range.week" | translate}}</option>
                      <option value="8days">{{"google-calendar.date.range.8days" | translate}}</option>
                      <option value="9days">{{"google-calendar.date.range.9days" | translate}}</option>
                      <option value="10days">{{"google-calendar.date.range.10days" | translate}}</option>
                      <option value="11days">{{"google-calendar.date.range.11days" | translate}}</option>
                      <option value="12days">{{"google-calendar.date.range.12days" | translate}}</option>
                      <option value="13days">{{"google-calendar.date.range.13days" | translate}}</option>
                      <option value="14days">{{"google-calendar.date.range.14days" | translate}}</option>
                      <option value="15days">{{"google-calendar.date.range.15days" | translate}}</option>
                      <option value="month">{{"google-calendar.date.range.month" | translate}}</option>
                      <option value="6months">{{"google-calendar.date.range.6months" | translate}}</option>
                      <option value="12months">{{"google-calendar.date.range.12months" | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-show="showDate && showDateFormat">
                <label for="date-format">{{"google-calendar.date.format.label" | translate}}</label>
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <select id="date-format" name="date-format" ng-model="settings.additionalParams.dateFormat" class="form-control">
                      <option value="D/M/YYYY">{{currentDate | date: "dd'/'MM'/'yyyy"}}</option>
                      <option value="M/D/YYYY">{{currentDate | date: "MM'/'dd'/'yyyy"}}</option>
                      <option value="YYYY/M/D">{{currentDate | date: "yyyy'/'MM'/'dd"}}</option>
                      <option value="MMMM D, YYYY">{{currentDate | date: "MMMM dd',' yyyy"}}</option>
                      <option value="dddd, MMMM D">{{currentDate | date:"EEEE',' MMMM d"}}</option>
                      <option value="dddd, MMMM D, YYYY">{{currentDate | date:"EEEE',' MMMM d',' yyyy"}}</option>
                      <option value="D-MMM-YYYY">{{currentDate | date:"dd'-'MMM'-'yyyy"}}</option>
                      <option value="ddd, MMM D">{{currentDate | date:"EEE',' MMM d"}}</option>
                      <option value="ddd, D-MMM-YYYY">{{currentDate | date:"EEE',' dd'-'MMM'-'yyyy"}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-show="showDate">
                <label>{{"google-calendar.date.font.label" | translate}}</label>
                <font-setting id="date-font" font-data="settings.additionalParams.dateFont" hide-alignment="true" preview-text="{{'google-calendar.date.font.text' | translate}}">
                </font-setting>
              </div>
            </div>
            <div class="section">
              <h5>{{"google-calendar.time.heading" | translate}}</h5>
              <div class="form-group">
                <div class="checkbox">
                  <label for="show-time">
                    <input id="show-time" type="checkbox" ng-model="settings.additionalParams.showTime">{{"google-calendar.time.show" | translate}}
                  </label>
                </div>
              </div>
              <div class="form-group" ng-show="showTime">
                <label for="time-format">{{"google-calendar.time.format.label" | translate}}</label>
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <select id="time-format" name="time-format" ng-model="settings.additionalParams.timeFormat" class="form-control">
                      <option value="12hour">{{"google-calendar.time.format.12hour" | translate}}</option>
                      <option value="24hour">{{"google-calendar.time.format.24hour" | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-show="showTime">
                <label for="show-end">{{ "google-calendar.time.show-end.label" | translate }}</label>
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <select id="show-end" ng-model="settings.additionalParams.showEnd" class="form-control">
                      <option value="always">{{"google-calendar.time.show-end.always" | translate}}</option>
                      <option value="never">{{"google-calendar.time.show-end.never" | translate}}</option>
                      <option value="hour">{{"google-calendar.time.show-end.hour" | translate}}</option>
                      <option value="extended">{{"google-calendar.time.show-end.extended" | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-show="showTime">
                <label>{{"google-calendar.time.font.label" | translate}}</label>
                <font-setting id="time-font" font-data="settings.additionalParams.timeFont" hide-alignment="true" preview-text="{{'google-calendar.time.font.text' | translate}}">
                </font-setting>
              </div>
            </div>
            <div class="section">
              <h5>{{"google-calendar.title.heading" | translate}}</h5>
              <div class="form-group">
                <div class="checkbox">
                  <label for="show-title">
                    <input id="show-title" type="checkbox" ng-model="settings.additionalParams.showTitle">{{"google-calendar.title.show" | translate}}
                  </label>
                </div>
              </div>
              <div class="form-group" ng-show="showTitle">
                <label>{{"google-calendar.title.label" | translate}}</label>
                <font-setting id="title-font" font-data="settings.additionalParams.titleFont" hide-alignment="true" preview-text="{{'google-calendar.title.text' | translate}}">
                </font-setting>
              </div>
            </div>
            <div class="section">
              <h5>{{"google-calendar.location.heading" | translate}}</h5>
              <div class="form-group">
                <div class="checkbox">
                  <label for="show-location">
                    <input id="show-location" type="checkbox" ng-model="settings.additionalParams.showLocation">{{"google-calendar.location.show" | translate}}
                  </label>
                </div>
              </div>
              <div class="form-group" ng-show="showLocation">
                <label>{{"google-calendar.location.label" | translate}}</label>
                <font-setting id="location-font" font-data="settings.additionalParams.locationFont" hide-alignment="true" preview-text="{{'google-calendar.location.text' | translate}}">
                </font-setting>
              </div>
            </div>
            <div class="section">
              <h5>{{"google-calendar.description.heading" | translate}}</h5>
              <div class="form-group">
                <div class="checkbox">
                  <label for="show-description">
                    <input id="show-description" type="checkbox" ng-model="settings.additionalParams.showDescription">{{"google-calendar.description.show" | translate}}
                  </label>
                </div>
              </div>
              <div class="form-group" ng-show="showDescription">
                <label>{{"google-calendar.description.label" | translate}}</label>
                <font-setting id="description-font" font-data="settings.additionalParams.descriptionFont" hide-alignment="true" preview-text="{{'google-calendar.description.text' | translate}}">
                </font-setting>
              </div>
            </div>
            <div class="section">
              <h5>{{"widgets.layout.heading" | translate}}</h5>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.additionalParams.layout.default">
                  {{"widgets.layout.default.label" | translate}}
                </label>
              </div>
              <div id="url-entry" ng-if="!settings.additionalParams.layout.default">
                <url-field url="settings.additionalParams.layout.customURL"
                  company-id="{{settings.params.companyId}}" ng-model="urlentry" valid></url-field>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="js/settings.min.js"></script>

  <!-- build:e2egadgets -->
  <script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
  

  <script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>


</body>
</html>
